source https://www.nuget.org/api/v2/

nuget Akka.DI.AutoFac 1.0.4 framework: >= net452
nuget Akka.Logger.Serilog 1.0.4 framework: >= net452
nuget Akka.Persistence.SqlServer 1.0.4.1-beta framework: >= net46
nuget Akka.Remote 1.0.4 framework: >= net452
nuget Akka.TestKit.NUnit 1.0.4 framework: >= net452
nuget Akka.TestKit.Xunit2 1.0.4 framework: >= net452
nuget JetBrains.dotMemoryUnit 2.1.20150828.125449 framework: >= net46
nuget SpecFlow.NUnit 1.1.1 framework: >= net46
nuget System.Collections 4.0.0 framework: >= net452
nuget System.Collections.Immutable 1.1.37 framework: >= net452
nuget System.Diagnostics.Debug 4.0.0 framework: >= net452
nuget System.Globalization 4.0.0 framework: >= net452
nuget System.Linq 4.0.0 framework: >= net452
nuget System.Resources.ResourceManager 4.0.0 framework: >= net452
nuget System.Runtime 4.0.0 framework: >= net452
nuget System.Runtime.Extensions 4.0.0 framework: >= net452
nuget System.Threading 4.0.0 framework: >= net452
nuget xunit.runner.console 2.1.0 framework: >= net452